@import url('https://fonts.googleapis.com/css?family=Barlow|Cinzel|Julius+Sans+One|Poiret+One|Quicksand|Raleway&display=swap');
	
	/* My CSS Reset */
	*{
	    margin: 0;
	    padding: 0;
		}

	*, *:after, *:before{
		box-sizing: border-box;
		}


	@font-face{
		font-family: 'Quicksand', sans-serif;
		font-family: 'Poiret One', cursive;
		font-family: 'Julius Sans One', sans-serif;
		src: url('Good-Brush.ttf')
	  }

	body{
        height: 100vh;
		width: 100vw;
		font-family: 'Quicksand', sans-serif;
		font-size: 15pt;
		line-height: 1.75em;
		letter-spacing: 1px;
		color: #707070;
		text-shadow: 0 0 0.5px rgba(58, 57, 57, 0.25);
				
    }
    
   /* Main - Foto Frau mit Helm */

   .woman{
	   height: 100vh;
	   width: 50vw;
	   background-image: url('/images/woman.jpeg');
	   background-size: cover;
	   background-position: center;
		 float: left;
		 position: relative;
		 z-index: 1;
   }


   /* Navigation 1 - Design von Strich und Kreis */

	.navigation1{
		height: 6vh;
		width: 50vw;
		float: right;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}

	.design1{
		height: 100px;
		width: 50px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		margin-left: 60px;
		margin-right: 60px;
		
			
	}

	.strich1{
		height: 43px;
		width: 1px;
		background-color: #707070;
		-ms-flex-item-align:start;
		    align-self:flex-start;
		
	}

	.kreis1{
		height: 15px;
		width: 15px;
		border: solid 1px #707070;
		border-radius: 50%;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		            -ms-grid-row-align: center;
		        align-items: center;
		position: relative;	
		right: 18%;
	
	}

	 /* Navigation 2 */

	.navigation2{
		height: 5vh;
		width: 50vw;
		float: right;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;



	}

	.navigation2 > ul{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		list-style: none;
		
	}

	li .home{
		margin-left: 60px;
		margin-right: 50px;
		text-decoration: none;
		position: relative;
		right: 24px;
		color: #707070;
		
	}

	li .gallery{
		margin-left: 30px;
		margin-right: 30px;
		text-decoration: none;
		position: relative;
		right: 10px;
		color: #707070;
		
	}
	li .aboutme{
		margin-left: 30px;
		margin-right: 30px;
		text-decoration: none;
		color: #707070;
		
	}
	li .contact{
		margin-left: 30px;
		margin-right: 30px;
		text-decoration: none;
		color: #707070;
		
	}

	/* Aside - Farbfläche mit Text */

   aside{
	   height: 80vh;
	   width: 50vw;
	   float: right;
	   position: relative;
   }

   .farbfläche{
		height: 50vh;
		width: 38vw;
		background-color:#FAECEC;
		opacity:0.9;
		position: relative;
		left: -90px;
		bottom: -140px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;	
		z-index: 3;

	 }

	.titel{
		font-size: 56px;
		font-size: 3.5rem;
		position: absolute;
		top: -30px;
		left: 130px;
	}

	.text{
		margin: 5%;
	}


			/* Aside - Pfeile */

	.kreisicon{
		height:70px;
		width: 70px;
		border-radius: 50%;
		border: solid 1px #707070;
		background-color: white;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		position: absolute;
		bottom: 30px;
		left: -36px;
		z-index: 4;
	}
  
	.fa-chevron-down{
		font-size: 48px;
		font-size: 3rem;
		position: absolute;
		bottom: 5px;
		color: #707070;
	}

	.gallery2{
		font-size: 160px;
		font-size: 10rem;
		position: absolute;
		right: 12%;
		top: 40%;
		color: #707070;
	}

		/* Aside - Striche Farbfläche */

	.strichrechts1{
		width: 220px;
		height: 1px;
		background-color: #707070;;
		position: absolute;
		right: -10%;
		bottom: -5%;
	}

	.strichrechts2{
		width: 1px;
		height: 171px;
		position: absolute;
		background-color:#707070;;
		right: -5%;
		bottom: -15%;
	}



    	/* Footer - Instagram und Facebook Logo */

   footer{
	   height: 10vh;
	   width: 100vw;
	   clear: both;
	   display: -webkit-box;
	   display: -ms-flexbox;
	   display: flex;
		 -webkit-box-pack: center;
		     -ms-flex-pack: center;
		         justify-content: center;
		 position: absolute;
		 top: 92%;
		 z-index: 2;
   }

   .kreisfooter{
	height: 10px;
	width: 10px;
	border: solid 1px #707070;
	border-radius: 50%;
	margin: 10px;
}

/*
i.fa-instagram{
		font-size: 2rem;
		justify-content: center;
	}
*/
.strich6{
	height: 64px;
	width: 1px;
	background-color: #707070;
	margin: 15px;
	position: relative;
	top: -25px;
	left: -3px;
}

.instagram{
	color: white;
}

/* i.fa-facebook-square{
		font-size: 2rem;
	} */

